# KREDENSIAL DATABASE (MariaDB)
DATABASE_HOST=db
DATABASE_NAME=uasadmin_2388010017
DATABASE_USER=uas_user
DATABASE_PASSWORD=arif1234567891123

# KREDENSIAL ROOT DATABASE (Untuk kontainer MariaDB)
MYSQL_ROOT_PASSWORD=rootpassword
